server:
  port: 8080

spring:
  profiles:
    active: local

  application:
    name: Alloc

  data:
    redis:
      host: localhost
      port: 6379

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect

mybatis:
  mapper-locations: classpath*:mapper/**/*.xml


notification:
  sse:
    heartbeat:
      enabled: true
      fixed-delay-ms: 25000
      initial-delay-ms: 5000
      event-name: PING
      data: ok

#ALB 헬스체크용
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
